<div class="headliners-container">
  <h1>Headliners</h1>

  <app-data-table
    [data]="headliners"
    [columns]="columns"
    (rowClick)="playVideo($event)"
    (edit)="openItemEditDialog($event)"
    (delete)="deleteItem($event)"
  ></app-data-table>

  <mat-paginator
    [length]="totalElements"
    [pageSize]="pageSize"
    [pageSizeOptions]="[5, 10, 20]"
    (page)="loadHeadliners($event)"
    showFirstLastButtons
    aria-label="Select page of headliner results"
  >
  </mat-paginator>

  <button mat-stroked-button class="back-button" routerLink="/items">
    <mat-icon>arrow_back</mat-icon>
    <span>Back to All Shows</span>
  </button>
</div>